/**
 * Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }

/* Reset End */

body {
	background: #aec3e5 repeat;
	position: relative;
}

.container {
	margin: auto;  
	padding: 215px 0;
}

#loginform , #divGeral {	
	background-color: #f7f7f7;
	display: block;
	height: auto;
	margin: 0 auto;	
	outline: solid 10px rgba(0,0,0,0.10);
	width: 190px;
	padding: 30px;
	text-align: center;
}

label{
	color: #3c609b;
	margin: 5px;
	display: block;
	font-weight: bold;
}

.input {
    background-color: #fff;
    cursor: text;
    border: solid 1px #dedede;
    box-sizing: border-box;
    color: #4c4c4c;
    height: 40px;
    padding: 8px 15px;
    width: 100%;
}

.button {
	background-color: #aec3e5;
	border: solid 0px; 
	color: #3c609b;
	cursor: pointer;
	height: 42px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin-top: 10px;
}

table, th, td {
   border: 1px solid #3c609b;
}

.cabecalho{
	font-weight: bold;
}
.resultado{
	font-size: 80%
}

th, td {
    padding: 10px;
    text-align: left;
}